.section2{
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.postcard_wrapper{
    min-height: 380px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.sec2_button{
   /* top: 135px;
   margin: 40px; */
}